# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Environments
.venv/
venv/
.env

# Caches
.pytest_cache/
.mypy_cache/

# Docker
docker-compose.override.yml

# IDE-specific
.idea/
.vscode/